.card {
  margin: 0px;
  padding: 80px;
  background-color: aliceblue;
  color: rgb(221 133 143);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 750px;
}
.title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
}
.image {
  width: 90%;
  height: auto;
  border-radius: 6px;
}
.inst li {
  color: rgb(234 172 179);
  font-size: 28px;
}
.metaData {
  display: flex;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 25px;
}
