.item {
  font-size: 20px;
  color: rgb(221 133 143);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
.card {
  height: 350px;
  width: 350px;
  box-shadow: 0 4px 6px rgb(0, 0, 0.5);
  background-color: white;
  margin: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.btn {
  background-color: rgb(221 133 143);
  color: white;
  padding: 20px;
  border: none;
  width: 100%;
  text-align: center;
  outline: none;
  border-radius: 0 0 8px 8px;
  font-size: 20px;
  /* color: rgb(221 133 143); */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.img {
  width: 80%;
  height: 50%;
}
