.search {
  border: none;
  outline: none;
  padding: 30px;
  width: 40%;
  margin: auto;
  margin-top: 150px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  background-color: rgba(45, 4, 4, 0.333);
}
.holder {
  margin: auto;
  display: flex;
  align-items: center;
}
