body {
  margin: 0;
  padding: 0;
}
body {
  background: repeating-linear-gradient(
      90deg,
      #ffc0cb57,
      #ffc0cb63 20px,
      rgba(255, 255, 255, 0.674) 20px,
      rgba(255, 255, 255, 0.767) 60px
    ),
    repeating-linear-gradient(
      #ffc0cbb4,
      #ffc0cb47 20px,
      rgba(255, 255, 255, 0.364) 20px,
      rgba(255, 255, 255, 0.644) 60px
    );
  background-blend-mode: multiply;
}
